<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ezkl-portfolio-blogs</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>ezkl.sh</h1>
    </header>
    <main>
      <h2>blogs</h2>
      <section class="block">
        <ul class="list">
          {% comment %} <li class="muted">loading…</li> {% endcomment %}
          {{list}}
        </ul>
      </section>
    </main>
    <footer>
      <nav class="nav-inline">
        <a href="/">home</a>
        <span>::</span>
        <a href="/blogs.html">blogs</a>
        <span>::</span>
        <a href="/about.html">about</a>
      </nav>
    </footer>
    <script src="/config.js"></script>
    <script type="module" src="/blogs.js"></script>
  </body>
</html>
