<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/ezkl.sh/">
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>ezkl.sh</h1>
      <nav>
        <a href="./">home</a>
        <span>::</span>
        <a href="blogs/">blogs</a>
        <span>::</span>
        <a href="about.html">about</a>
      </nav>
    </header>
    <main>
        <article>
          <div id="post-html">
            {{content}}
          </div>
        </article>
    </main>
  </body>
</html>
